In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopy

ModuleNotFoundError: No module named 'geopy'

In [5]:
#Read in each month csv
#Decision was made to just use Jan - Jun as a full year took longer to import than was useful for this project.

jan = pd.read_csv('Resources/202001-citibike-tripdata.csv')
feb = pd.read_csv('Resources/202002-citibike-tripdata.csv')
mar = pd.read_csv('Resources/202003-citibike-tripdata.csv')
# apr = pd.read_csv('Resources/202004-citibike-tripdata.csv')
# may = pd.read_csv('Resources/202005-citibike-tripdata.csv')
# jun = pd.read_csv('Resources/202006-citibike-tripdata.csv')

In [11]:
#For each month, append the next month, then drop all null values from the resulting data frame

jf = jan.append(feb)

jf.dropna()

full_dataset = jf.append(mar)

# jfm.dropna()

# jfma = jfm.append(apr)

# jfma.dropna()

# jfmam = jfma.append(may)

# jfmam.dropna()

# full_dataset = jfm.append(jun)

full_dataset.dropna()

full_dataset.columns = ['tripduration', 'starttime', 'stoptime', 'start_stationid', 'start_stationname', 'start_stationlat', 'start_stationlon', 
             'end_stationid', 'end_stationname', 'end_stationlat', 'end_stationlon', 'bikeid', 'usertype', 'birthyear', 'gender']

In [12]:
#Split the start and stop time columns in two, then place the date values into a new column
datetime = full_dataset["starttime"].str.split(" ", n = 1, expand = True) 

full_dataset['startdate'] = datetime[0]

enddatetime = full_dataset["stoptime"].str.split(" ", n = 1, expand = True) 

full_dataset['stopdate'] = enddatetime[0]

In [13]:
#Get age by substrction birth year from 2020
full_dataset['age'] = 2020 - full_dataset['birthyear']

In [14]:
#Get time in minutes by dividing time in seconds by 60.  Then display dataset.
full_dataset['duration(min)'] = round(full_dataset['tripduration']/60, 2)

full_dataset

,tripduration,starttime,stoptime,start_stationid,start_stationname,start_stationlat,start_stationlon,end_stationid,end_stationname,end_stationlat,end_stationlon,bikeid,usertype,birthyear,gender,startdate,stopdate,age,duration(min)
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1,2020-01-01,2020-01-01,28,13.15
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1,2020-01-01,2020-01-01,51,25.68
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1,2020-01-01,2020-01-01,57,24.40
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1,2020-01-01,2020-01-01,40,9.87
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1,2020-01-01,2020-01-01,38,11.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068452,137,2020-03-31 23:56:06.0490,2020-03-31 23:58:23.3880,422,W 59 St & 10 Ave,40.770513,-73.988038,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,18851,Subscriber,1989,2,2020-03-31,2020-03-31,31,2.28
1068453,1548,2020-03-31 23:57:27.6850,2020-04-01 00:23:16.4110,523,W 38 St & 8 Ave,40.754666,-73.991382,442,W 27 St & 7 Ave,40.746647,-73.993915,36539,Subscriber,1993,1,2020-03-31,2020-04-01,27,25.80
1068454,308,2020-03-31 23:58:00.2690,2020-04-01 00:03:08.9500,528,2 Ave & E 31 St,40.742909,-73.977061,487,E 20 St & FDR Drive,40.733143,-73.975739,43023,Subscriber,1982,1,2020-03-31,2020-04-01,38,5.13
1068455,872,2020-03-31 23:58:42.9010,2020-04-01 00:13:15.5860,3043,Lewis Ave & Decatur St,40.681460,-73.934903,3755,DeKalb Ave & Franklin Ave,40.690648,-73.957462,43073,Customer,1990,1,2020-03-31,2020-04-01,30,14.53
1068456,306,2020-03-31 23:59:17.2580,2020-04-01 00:04:23.8880,3721,31 St & Newtown Ave,40.767549,-73.920933,3592,Crescent St & Broadway,40.763359,-73.928647,39373,Subscriber,1974,1,2020-03-31,2020-04-01,46,5.10

In [15]:
# # remove extraneious fields
# del full_dataset['tripduration']
# del full_dataset['starttime']
# del full_dataset['stoptime']
# del full_dataset['start_stationid']
# del full_dataset['end_stationid']
# del full_dataset['birthyear']

# full_dataset

In [20]:
print(full_dataset.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start_stationid',
       'start_stationname', 'start_stationlat', 'start_stationlon',
       'end_stationid', 'end_stationname', 'end_stationlat', 'end_stationlon',
       'bikeid', 'usertype', 'birthyear', 'gender', 'startdate', 'stopdate',
       'age', 'duration(min)'],
      dtype='object')

In [21]:
# set up main dataframe to be used for analysis and any additional cleaning and exporting to csv for Tableau import
clean_df = full_dataset[['tripduration', 'startdate', 'stopdate', 'start_stationid','start_stationname', 'start_stationlat', 
             'start_stationlon','end_stationid', 'end_stationname', 'end_stationlat', 'end_stationlon', 
             'bikeid', 'usertype', 'age', 'gender' ]]
clean_df.head(5)

,tripduration,startdate,stopdate,start_stationid,start_stationname,start_stationlat,start_stationlon,end_stationid,end_stationname,end_stationlat,end_stationlon,bikeid,usertype,age,gender
0,789,2020-01-01,2020-01-01,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,28,1
1,1541,2020-01-01,2020-01-01,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,51,1
2,1464,2020-01-01,2020-01-01,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,57,1
3,592,2020-01-01,2020-01-01,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,40,1
4,702,2020-01-01,2020-01-01,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,38,1

In [22]:
#Drop any row with age greater than 100
clean_dataframe = clean_df.loc[clean_df['age'] < 100, :]

In [23]:
clean_dataframe.head(10)

,tripduration,startdate,stopdate,start_stationid,start_stationname,start_stationlat,start_stationlon,end_stationid,end_stationname,end_stationlat,end_stationlon,bikeid,usertype,age,gender
0,789,2020-01-01,2020-01-01,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,28,1
1,1541,2020-01-01,2020-01-01,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,51,1
2,1464,2020-01-01,2020-01-01,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,57,1
3,592,2020-01-01,2020-01-01,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,40,1
4,702,2020-01-01,2020-01-01,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,38,1
5,1740,2020-01-01,2020-01-01,394,E 9 St & Avenue C,40.725213,-73.977688,478,11 Ave & W 41 St,40.760301,-73.998842,41475,Subscriber,40,1
6,203,2020-01-01,2020-01-01,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3668,Leonard St & Nassau Ave,40.723957,-73.949844,30072,Subscriber,35,1
7,1758,2020-01-01,2020-01-01,514,12 Ave & W 40 St,40.760875,-74.002777,426,West St & Chambers St,40.717548,-74.013221,30055,Subscriber,51,0
8,114,2020-01-01,2020-01-01,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,14936,Subscriber,29,1
9,417,2020-01-01,2020-01-01,467,Dean St & 4 Ave,40.683125,-73.978951,3368,5 Ave & 3 St,40.672816,-73.983524,40210,Subscriber,49,1

In [25]:
clean_dataframe.shape

(3454269, 15)

In [26]:
# clean_df = full_dataset[['duration(min)', 'startdate', 'stopdate', 'start_stationname', 'start_stationlat', 
#              'start_stationlon', 'end_stationname', 'end_stationlat', 'end_stationlon', 
#              'bikeid', 'usertype', 'age', 'gender' ]]

In [27]:
clean_dataframe.to_csv("final_data.csv")